body{
    margin: 0;
    padding: 0;
}

/* Global CSS */
header, section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Global Font */
header h1, section h2, section input {
    font-family: 'Lato', sans-serif;
}


/* HEADER */
header {
    height: 60px;
    padding: 20px 20px 30px 20px;
}

@media screen and (max-width: 970px){
    header {
       height: 100px;
       padding-bottom: 50px;
    }
    header h1 {
        margin-right: 40px;
    }
}

@media screen and (max-width: 510px){
    header {
        height: 200px;
    }
    header h1 {
        margin-right: 0px;
        padding-right: 0px;
    }
}

header h1{
    color: #624CAB;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 100px;
    font-size: 50px;
    text-shadow: 0 0 2px;
}


/* GAMEBOARD */
section div{
    margin: 10px auto;
    background-color: #C1CEFE;
    width: 200px;
    border-radius: 10px;
    border-style: outset;
    border-color: #624CAB;
    border-width: 5px;
    box-shadow: 0 0 4px;
}

section input {
    color: green;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    border-color: #7189FF;
    border-radius: 10px;
    border-width: 2.5px;
    box-shadow: 0 0 2px;
    background-color: white;
}

section h2 {
    text-align: center;
    text-decoration: underline;
}

section input, section h2 {
    display: block;
    margin: 20px auto;
    width: 150px;
}